
.box-photo-me{
    width: 100%;
    display: block;
}
  
.box-photo-me img{
    width: 400px;
    display: block;
    margin: 0 auto;
}

.box-text-me{
    text-align: center;
}

.box-text-me p {
    font-size: 18px;
}