
.box-photo-me{
    padding: 30px;
}
  
.box-photo-me img{
    width: 500px;
    display: block;
    margin: 0 auto;
}

.box-text-me{    
    text-align: center;
    position: relative;
    background-color: #ffffff;
    width: 271px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    padding: 33px 20px 24px;
    line-height: 18px;
    transition: 0.9s ease-out;
    border: 2px solid #191e25;
}

.box-text-me:hover{
    background-color: #000000;
    transition: 1.5s ease-in;
    cursor: pointer;
    color: white;
}

.box-text-me p {
    font-size: 18px;    
}