.title-album{
    text-align: center;
    color: #ffffff;
    margin: 30px;
    font-size: 34px;
}

.col-images{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}


.image-album{
    width: 300px;
}

.parallax-album .parallax-inner{
    padding: 50px 0 0;
    display: flex;
    align-items: center;
    height: auto;
    background-color: #099696;
}

.parallax-album .parallax-inner .container .row{
    margin-bottom: 0;
}

.infos-pictures{
    max-width: 200px;
    background: #ffffff;
}

.infos-pictures p{
    font-size: 18px;
    line-height: 18px;
}