@import url('https://fonts.googleapis.com/css?family=Krub');

body{
    font-family: 'Krub', sans-serif;
    margin: 0;
}

.parallax-banner .parallax-inner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-banner .parallax-inner img{
    width: 100%;
}

.box-photo-me{
    width: 100%;
    position: absolute;
    bottom: -340px;
    left: 0;
}
  
.box-photo-me img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    position: relative;
    border: 7px solid #4dabf5;
}

.box-text-me{
    text-align: center;
}